*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #121212;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-primary);
}

.section-wrapper .floating-action-button {
    width: 60px;
    height: 60px;
    color: var(--clr-light);
    font-size: 30px;
    cursor: pointer;
    transform: rotate(45deg);
}

.section-wrapper .share-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    border-radius: 10px;
    box-shadow: var(--shadow-dark);
    z-index: 1000;
}

.share-btn #share-icon {
    display: block;
}

.share-btn #close-icon {
    display: none;
}

.share-btn.active #share-icon {
    display: none;
}

.share-btn.active #close-icon {
    display: block;
}

ul {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-light);
    color: var(--clr-dark);
    list-style-type: none;
    transform: scale(0.95);
    transition: var(--transition);
    border-radius: 10px;
}

ul.active li:hover {
    background-color: #78fad1;
}

ul.active li:nth-child(1) {
    top: 100%;
    left: 100%;
    transition-delay: 0s;
}

ul.active li:nth-child(2) {
    top: 100%;
    left: 0%;
    transition-delay: 0.2s;
}

ul.active li:nth-child(3) {
    top: 100%;
    left: -100%;
    transition-delay: 0.4s;
}

ul.active li:nth-child(4) {
    top: 0%;
    left: -100%;
    transition-delay: 0.6s;
}

ul.active li:nth-child(5) {
    top: -100%;
    left: -100%;
    transition-delay: 0.8s;
}

ion-icon {
    font-size: 18px;
    transform: rotate(-45deg);
}

.hide {
    display: none;
}

.show {
    display: block;
}
