*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #222;
}

body {
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.container img {
    --size: 320px;
    --border-width: 8px;
    --gap: 14px;
    --clr: #40826d;

    min-width: 280px;
    width: var(--size);
    aspect-ratio: 1;
    outline: calc(var(--size) / 2) solid #0009;
    outline-offset: calc(var(--size) / -2);
    cursor: pointer;
    transition: 0.3s;
}

.container img:hover {
    outline: var(--border-width) solid var(--clr);
    outline-offset: var(--gap);
}

.container img:last-child {
    border-radius: 50%;
    --clr: #5f0909;
}
