*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

#map {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

.color-theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: 1px solid var(--clr-grey-1);
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: var(--shadow-dark);
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: var(--shadow-light);
    background-color: var(--clr-grey-1);
    border: 1px solid var(--clr-grey-2);
}

.switch #theme-toggle {
    opacity: 0;
    appearance: none;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 3px;
    width: 26px;
    height: 26px;
    background-color: var(--clr-accent);
    transition: var(--transition);
    border-radius: 50%;
}

.switch #theme-toggle:checked + .slider {
    transform: translateX(22px);
}

#map.dark .leaflet-layer,
#map.dark .leaflet-control-zoom-in,
#map.dark .leaflet-control-zoom-out,
#map.dark .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
