*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-dark: #222;
    --clr-light: #fbfcff;
    --clr-accent: #40826d;

    --transition: all 0.5s ease-in-out;
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    position: relative;
    width: 350px;
    height: 85px;
    background-color: var(--clr-accent);
    border-radius: 1.25rem;
    filter: drop-shadow(-20px 20px 40px #40826d55);
    transition: var(--transition);
}

.card.active {
    height: 420px;
}

.card .toggle {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 60px;
    background-color: var(--clr-accent);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}

.card .toggle::before {
    content: "";
    position: absolute;
    left: -34px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px var(--clr-accent);
}

.card .toggle::after {
    content: "";
    position: absolute;
    right: -34px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px var(--clr-accent);
}

.card .toggle span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-bottom: 3px solid var(--clr-light);
    border-right: 3px solid var(--clr-light);
    transition: var(--transition);
}

.card.active .toggle span {
    transform: translate(-50%, -70%) rotate(225deg);
}

.content-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.content-container .content {
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container .content .name {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
}

.content-container .content .role {
    font-size: 0.875rem;
    text-transform: initial;
}

.content-container .content .img-box {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: var(--clr-light);
    margin-top: 20px;
    border: 5px solid var(--clr-light);
    border-radius: 1em;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    opacity: 0;
    transition: var(--transition);
    transition-delay: 0.5s;
}

.card.active .content-container .content .img-box,
.card.active .content-container .content .btn {
    opacity: 1;
}

.content-container .content .img-box .img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.content-container .content .btn {
    cursor: pointer;
    color: var(--clr-dark);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.75em 3em;
    border: none;
    border-radius: 1.5em;
    margin-top: 1.25em;
    opacity: 0;
    transition: var(--transition);
    transition-delay: 0.5s;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.content-container .content .btn:hover {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    letter-spacing: 5px;
}
