*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary: "Poppins", sans-serif;
    --clr-dark: #333;
    --clr-light: #fff;
    --clr-accent: #2568ac;
}

body {
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    line-height: 1.5;
}

h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1em;
}

.btn {
    text-transform: uppercase;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    padding: 0.5em 1em;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 20px rgba(37, 104, 172, 0.8);
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

/* Layout */

.container {
    width: 90vw;
    max-width: 50rem;
    text-align: center;
    padding: 4rem 0;
    margin: 0 auto;
    margin-top: 3rem;
}

.lorem-form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25em;
}

label {
    letter-spacing: 1px;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

input[type="radio"] {
    transform: translateY(0.1875em);
}

input[type="number"] {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--clr-dark);
    padding: 0.5em 1em;
    margin-inline: 1.5em;
    max-width: 8rem;
    border: none;
}

input:focus {
    outline: none;
}

.result {
    text-align: justify;
    padding: 1em 0;
}
