*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.375rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-dark);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.blog-posts {
    width: min(1200px, 100%);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-posts .post {
    width: calc(33% - 10px);
    overflow: hidden;
}

.blog-posts .post-img {
    width: 100%;
    border-radius: var(--radius);
    transition: var(--transition);
}

.blog-posts .post-content {
    background-color: #ffffffdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: var(--radius);
    transform: translateY(-60px);
    transition: var(--transition);
}

.blog-posts h3 {
    font-size: 1rem;
    margin-bottom: 0.625em;
}

.blog-posts .post-date {
    font-size: 0.875rem;
    font-style: italic;
    color: #e77f67;
}

.blog-posts .post:hover .post-img {
    transform: translateY(20px);
}

.blog-posts .post:hover .post-content {
    transform: translateY(-80px);
}

@media screen and (max-width: 1200px) {
    .blog-posts {
        justify-content: center;
    }

    .blog-posts .post {
        width: min(600px, 100%);
    }
}
