*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #1e1e1e;

    --opacity: 0.5;
    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.2s ease-in-out;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.image-grid {
    position: relative;
    overflow: hidden;
    height: 50vw;
    background: var(--clr-dark);
    margin-bottom: 60px;
    width: 100%;
}

.image-grid .container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: -20vw;
    left: -8vw;
    transform: rotateZ(45deg);
    height: 100vw;
    width: 107vw;
}

.image-grid .container .column {
    overflow: hidden;
    position: relative;
}

.image-grid .container .column:nth-of-type(1) {
    border-right: 8px solid var(--clr-dark);
    width: 25%;
    height: 66vw;
    transition: var(--transition);
}

.image-grid .container .column:nth-of-type(1):hover {
    opacity: var(--opacity);
    cursor: pointer;
}

.image-grid .container .column:nth-of-type(1):before {
    position: absolute;
    top: 8.4vw;
    left: 8.1vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateZ(-45deg);
    content: "";
    width: 37vw;
    height: 38vw;
    background-image: url("./img/img1.jpg");
}

.image-grid .container .column:nth-of-type(2) {
    display: flex;
    flex-direction: column-reverse;
    width: 75%;
    height: 109.1vw;
}

.image-grid .container .column:nth-of-type(2) .row {
    border-top: 8px solid var(--clr-dark);
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(1) {
    position: relative;
    overflow: hidden;
    height: 50vw;
    transition: var(--transition);
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(1):hover {
    opacity: var(--opacity);
    cursor: pointer;
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
    position: absolute;
    top: -10.1vw;
    left: -14.3vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateZ(-45deg);
    content: "";
    width: 65vw;
    height: 39vw;
    background-image: url("./img/img2.jpeg");
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(2) {
    display: flex;
    height: 40.5vw;
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(3) {
    border-top: none;
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(1) {
    overflow: hidden;
    width: 30%;
    background-color: var(--clr-dark);
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(1)
    .text {
    width: 100%;
    height: 100%;
    overflow: visible;
    transform: rotateZ(-45deg);
    position: relative;
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(1)
    .text
    h6 {
    position: absolute;
    color: var(--clr-accent);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.35vw;
    width: 20vw;
    top: 16vw;
    left: 7vw;
    line-height: 1.55vw;
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(1)
    .text
    p {
    text-align: justify;
    position: absolute;
    color: var(--clr-accent);
    font-size: 0.9vw;
    width: 18vw;
    top: 21vw;
    left: -2.75vw;
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(2) {
    position: relative;
    width: 70%;
    border-left: 8px solid var(--clr-dark);
    overflow: hidden;
    transition: var(--transition);
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(2):hover {
    opacity: var(--opacity);
    cursor: pointer;
}

.image-grid
    .container
    .column:nth-of-type(2)
    .row:nth-of-type(2)
    div:nth-of-type(2):before {
    position: absolute;
    top: 0;
    left: -40vw;
    width: 110.1vw;
    height: 110vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateZ(-45deg);
    content: "";
    background-image: url("./img/img3.jpg");
    background-position: -100% center;
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(3) {
    position: relative;
    height: 18.6vw;
    overflow: hidden;
    transition: var(--transition);
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(3):hover {
    opacity: var(--opacity);
    cursor: pointer;
}

.image-grid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
    position: absolute;
    top: 7.5vw;
    left: 25vw;
    width: 32.6vw;
    height: 27vw;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateZ(-45deg);
    content: "";
    background-image: url("./img/img4.jpg");
}
