*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors */

.card.first {
    --clr-primary: #fca709;
    --clr-secondary: #e69603;
    --clr-text: #111;
}

.card.second {
    --clr-primary: #264653;
    --clr-secondary: #1a2f38;
    --clr-text: #fafafa;
}

.card.third {
    --clr-primary: #ee4266;
    --clr-secondary: #e01541;
    --clr-text: #fafafa;
}

.card.fourth {
    --clr-primary: #98c1d9;
    --clr-secondary: #7ea1b6;
    --clr-text: #111;
}

.card.fifth {
    --clr-primary: #e76f51;
    --clr-secondary: #e24d28;
    --clr-text: #111;
}

/* End of Colors */

body {
    background: #efd595;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    display: grid;
    place-items: center;
    /* min-height: 100vh; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 3em;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    border-radius: 20px; 
}

.card i {
    position: absolute;
    top: 40px;
    left: -15px;
    width: 280px;
    height: 50px;
    background: var(--clr-primary);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    z-index: 3;
}

.card i::before {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 30px;
    background: var(--clr-secondary);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.card i::after {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 15px;
    background: var(--clr-primary);
    z-index: 1;
}

.card-title {
    font-family: 'Rancho', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--clr-text);
    margin-left: 1em;
}

.card-body {
    width: 260px;
    margin: 7em auto 1em;
}

.btn {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    width: max-content;
    padding: 0.375em 1em;
    color: var(--clr-text);
    background-color: var(--clr-primary);
    border: none;
    border-radius: 20px;
    /* border-bottom-left-radius: 10px; */
    margin-left: 1em;
    transition: 200ms ease-in;
}

.btn:hover {
    background-color: var(--clr-secondary);
}