*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    min-height: 100vh;
    background: #333;
    display: grid;
    place-items: center;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.nav-list .nav-list-item {
    position: relative;
    list-style: none;
}

.nav-list .nav-list-item:nth-child(1) {
    --clr-accent: #00d2e1;
}

.nav-list .nav-list-item:nth-child(2) {
    --clr-accent: #ffdd1c;
}

.nav-list .nav-list-item:nth-child(3) {
    --clr-accent: #00dc82;
}

.nav-list .nav-list-item:nth-child(4) {
    --clr-accent: #ff68ab;
}

.nav-list .nav-list-item:nth-child(5) {
    --clr-accent: #ffbe68;
}

.nav-list .nav-list-link {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.nav-list .nav-list-link::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr-accent);
    width: 0;
    overflow: hidden;
    border-right: 8px solid var(--clr-accent);
    -webkit-text-stroke: 1px var(--clr-accent);
    transition: 1s;
}

.nav-list .nav-list-link:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr-accent));
}
