*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    min-height: 100vh;
    background: #333;
    display: grid;
    place-items: center;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.nav-list .nav-list-item {
    position: relative;
    list-style: none;
}

.nav-list .nav-list-link {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
}

.nav-list .nav-list-link::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 1s;
}

.nav-list .nav-list-link:hover::before {
    width: 100%;
}
