*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #3498db;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.btn-container {
    text-align: center;
}

.btn {
    cursor: pointer;
    background: none;
    font-family: inherit;
    font-size: 1.25rem;
    padding: 0.5em 1em;
    border: 1px solid --clr-accent;
    margin: 10px;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.btn1,
.btn2 {
    color: var(--clr-accent);
}

.btn3,
.btn4 {
    color: var(--clr-light);
}

.btn1:hover,
.btn2:hover {
    color: var(--clr-light);
}

.btn3:hover,
.btn4:hover {
    color: var(--clr-accent);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--clr-accent);
    z-index: -1;
    transition: 0.8s;
}

.btn1::before,
.btn3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before,
.btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn3::before,
.btn4::before {
    height: 180%;
}

.btn1:hover::before,
.btn2:hover::before {
    height: 180%;
}

.btn3:hover::before,
.btn4:hover::before {
    height: 0%;
}
