*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container .progress {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: var(--clr-light);
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container .progress::before {
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.container .progress.less::before {
    background: #444;
    transform: rotate(calc((var(--i) * 0.01turn)));
}
