*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #1a1a1a;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
}

.container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 1.25rem;
}

.flex {
    display: flex;
}

.container input,
.container button {
    border: 1px solid var(--clr-grey-1);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    font-size: 0.875rem;
    padding: 0.5rem 0.625rem;
    margin: 0;
}

.container input[type="text"] {
    width: 20rem;
}

.container .search-btn {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.container .random-btn {
    cursor: pointer;
    margin-left: 0.625rem;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.container .meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
}

.container .meal {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;
}

.container .meal img {
    width: 100%;
    height: 100%;
    border: 4px solid var(--clr-light);
    border-radius: 2px;
}

.container .meal-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.container .meal:hover .meal-info {
    opacity: 1;
}

.container .single-meal {
    margin: 2rem auto;
    width: 70%;
}

.container .single-meal img {
    width: 300px;
    margin: 15px;
    border: 4px solid var(--clr-light);
    border-radius: 2px;
}

.container .single-meal-info {
    margin: 1.25rem;
    padding: 0.625rem;
    border: 2px dashed var(--clr-accent);
    border-radius: var(--radius);
}

.container .single-meal p {
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.container .single-meal ul {
    padding-left: 0;
    list-style-type: none;
}

.container .single-meal ul li {
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: var(--clr-light);
    display: inline-block;
    color: var(--clr-accent);
    font-size: 0.75rem;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px 5px 0;
}

@media (max-width: 800px) {
    .container .meals {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .container .meals {
        grid-template-columns: repeat(2, 1fr);
    }

    .container .meal {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 500px) {
    .container input[type="text"] {
        width: 100%;
    }

    .container .meals {
        grid-template-columns: 1fr;
    }

    .container .meal {
        height: 300px;
        width: 300px;
    }
}
