*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.breadcrumbs,
.title {
    width: 450px;
    height: 80px;
    background: var(--clr-light);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.breadcrumbs {
    border-radius: 50px;
}

.title {
    margin-bottom: 25px;
    border-radius: 50px;
    color: var(--clr-dark);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 80px;
}

.breadcrumbs ul,
.breadcrumbs ul li a {
    display: flex;
}

.breadcrumbs ul {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.breadcrumbs ul li {
    margin-right: 30px;
    position: relative;
}

.wrapper ul li:before {
    content: ">";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    color: var(--clr-dark);
}

.wrapper ul li:last-child:before {
    display: none;
}

.breadcrumbs ul li a {
    align-items: baseline;
    color: var(--clr-dark);
}

.breadcrumbs ul li a .icon {
    margin-right: 5px;
}

.breadcrumbs ul li a p {
    font-size: 12px;
}

.breadcrumbs ul li.active a {
    color: var(--clr-accent);
}
