*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.background {
    background: url("./img/background.jpg") no-repeat center center / cover;
    position: absolute;
    top: -1.5em;
    left: -1.5em;
    bottom: -1.5em;
    right: -1.5em;
    z-index: -1;
    filter: blur(20px);
}

.login-panel {
    background: #fff;
    border: none;
    width: 26em;
    height: 25em;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-panel * + * {
    margin-bottom: 1em;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.subtitle {
    font-size: 0.875rem;
    color: #444;
}

.input {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #ddd;
}

input::placeholder {
    color: #bbb;
    font-size: 0.875rem;
}

.btn {
    color: #fff;
    background: #111;
    border: none;
    width: 100%;
    padding: 1em 0;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.btn:hover {
    color: #111;
    outline: 1px solid #111;
    background: #fff;
}
