*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #222;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.625rem;
    --max-width: 32rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}

.blog-post {
    background: var(--clr-light);
    max-width: var(--max-width);
    border-radius: 2.5rem;
    box-shadow: var(--shadow-dark);
    position: relative;
}

.blog-copy {
    padding: 5rem 2rem 3rem;
}

.blog-avatar {
    height: 8rem;
    width: 8rem;
    background: linear-gradient(90deg, #40826d, #191d2b);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-avatar img {
    height: 7rem;
    width: 7rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: var(--clr-dark);
}

h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.125rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--clr-dark);
}

.btn-primary {
    display: inline-block;
    width: fit-content;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--clr-light);
    background: linear-gradient(90deg, #40826d, #191d2b);
    padding: 1rem 3.5rem;
    border-radius: 2rem;
    margin-top: 1.25rem;
    border: none;
    outline: none;
    box-shadow: 1px 10px 2rem rgba(64, 130, 109, 0.5);
    transition: var(--transition);
}

.btn-primary:hover {
    box-shadow: 0px 5px 1rem rgba(64, 130, 109, 0.5);
    transform: scale(1.05);
}

@media only screen and (max-width: 650px) {
    body {
        background-color: var(--clr-dark);
    }
}
