*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 2.5rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: sans-serif;
    background: #e9c46a;
    color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    background-color: var(--clr-grey-0);
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #fff); */
    border-radius: var(--radius);
    /* box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fff; */
}

.container .slider {
    width: 25rem;
    /* height: 0.625rem; */
    height: 1rem;
    appearance: none;
    background: var(--clr-dark);
    outline: none;
    border-radius: 1em;
    overflow: hidden;
}

.container .slider::-webkit-slider-thumb,
.container .slider::-moz-range-thumb {
    cursor: pointer;
    appearance: none;
    height: 1em;
    width: 1em;
    background: var(--clr-accent);
    border-radius: 50%;
    border: 2px solid var(--clr-dark);
    box-shadow: -25.5rem 0 0 25rem var(--clr-accent);
}

.container #slider-value {
    position: relative;
    text-align: center;
    width: 3rem;
    padding-block: 2px;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    margin-left: 0.5em;
    border-radius: 1.25em;
}
