*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5em;
}

.counter {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide 200ms ease-out;
}

@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
  
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
}
  
.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show 200ms ease-out;
}
  
@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
  
    30% {
        transform: translate(-50%, -50%) scale(1.4);
    }
  
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.numbers {
    color: #3498db;
    font-size: 3.125rem;
    position: relative;
    overflow: hidden;
    width: 5em;
    height: 1em;
}

.numbers span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    transform-origin: bottom center;
}

.numbers span.in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: goIn 500ms ease-in-out;
}
  
.numbers span.out {
    animation: goOut 500ms ease-in-out;
}

@keyframes goIn {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }
  
    30% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }
  
    60% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
  
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
  
@keyframes goOut {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
  
    60% {
        transform: translate(-50%, -50%) rotate(20deg);
    }
  
    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }
}

#replay{
    background-color: #3498db;
    border-radius: 0.25em;
    border: none;
    color: #f0f8ff;
    margin-top: 1em;
    padding: 0.5em 1em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: all 300ms;
}
  
/* #replay span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 300ms;
}

#replay span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 500ms;
} 
  
#replay:hover span{
    padding-right: 25px;
}
  
#replay:hover span:after{
    opacity: 1;
    right: 0;
} */