*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-accent: #750e95;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;
    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark);
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(74, 146, 214);
}

/* General classes */

ul {
    list-style-type: none;
}

ul i,
.phone i,
.profile i {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
    transition: var(--transition);
}

a:hover {
    color: rgba(117, 14, 149, 0.7);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.nav {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-dark);
    padding: 0.5em 1em;
    width: 100%;
}

.nav .center {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo i {
    font-size: 1.5rem;
    margin-right: 0.5em;
}

.nav .nav-list {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav .nav-link.active {
    color: var(--clr-accent);
}

.nav .btn {
    padding: 0.25em 0.75em;
    border-radius: 0.5rem;
}

.nav .btn-accent {
    background-color: rgba(117, 14, 149, 0.3);
    color: var(--clr-accent);
    transition: var(--transition);
}

.nav .btn-accent:hover {
    color: var(--clr-light);
    background-color: var(--clr-accent);
}

/* Navigation #2 */

.nav-2 .clip-path {
    width: 200px;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
    background: rgb(190, 57, 208);
    background: linear-gradient(
        45deg,
        rgba(190, 57, 208, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

/* Navigation #3 */

.nav-3 .profile a {
    display: flex;
    align-items: center;
}

.nav-3 a span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

/* Navigation #4 */

.nav-4 .nav-link {
    display: flex;
    align-items: center;
}

.nav-4 .nav-link i {
    margin-right: 3px;
}

/* Navigation #5 */
.nav-5 .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-5 .center .nav-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-5 .center .nav-top::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: var(--clr-accent);
    opacity: 0.5;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.nav-5 .social-icons {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.nav-5 .center .nav-top .details {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-5 .center .nav-top .details .phone {
    display: flex;
    align-items: center;
}

.nav-5 .center .nav-bottom {
    padding-top: 0.5em;
}
