*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./img/bg.jpg') no-repeat center center / cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Rancho', 'Poppins', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 6px;
    margin-top: 1em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 20rem;
    width: 20rem;
    position: relative;
    transform: scale(1);
}

.circle {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.gradient-circle {
    background: conic-gradient(
      #55b7a4 0%,
      #4ca493 40%,
      #fff 40%,
      #fff 60%,
      #336d62 60%,
      #2a5b52 100%);
    height: 21em;
    width: 21em;
    border-radius: 50%;
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    z-index: -2;
}

.pointer-container {
    position: absolute;
    top: -2em;
    left: 9.5em;
    width: 1em;
    height: 12em;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    background-color: #fff;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: block;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}

.container.grow {
    animation: grow 3s linear forwards;
}
  
@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
  
.container.shrink {
    animation: shrink 3s linear forwards;
}
  
@keyframes shrink {
    from {
        transform: scale(1.2);
    }
  
    to {
        transform: scale(1);
    }
}