*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./img/bg.jpg') no-repeat center center / cover;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 20rem;
    width: 20rem;
    position: relative;
    transform: scale(1);
}