*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    display: flex;
    flex-direction: column;
}

.page .r-title {
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

.page p:not([class]) {
    line-height: var(--cssTypographyLineHeight, 1.78);
    margin-top: var(--cssTypographyBasicMargin, 1em);
    margin-bottom: 0;
}

.page p:not([class]):first-child {
    margin-top: 0;
}

.page .text {
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);
}

.page .time {
    display: var(--timeDisplay, inline-flex);
}

.page .time__month {
    margin-left: var(--timelineMounthMarginLeft, 0.25em);
}

.page .time {
    padding: var(--timePadding, 0.25rem 1.25rem 0.25rem);
    background-color: var(--timeBackgroundColor, #f0f0f0);

    font-size: var(--timeFontSize, 0.75rem);
    font-weight: var(--timeFontWeight, 700);
    text-transform: var(--timeTextTransform, uppercase);
    color: var(--timeColor, currentColor);
}

.page .card {
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
}

.page .card__content {
    margin-top: var(--cardContentMarginTop, 0.5rem);
}

.page .card {
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid
        var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(
        --timelineCardBoxShadow,
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.24)
    );
    background-color: var(--timelineCardBackgroundColor, #fff);
}
