*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 40px;
    position: relative;
    gap: 80px;
}

.container .card {
    position: relative;
    width: 350px;
    height: 180px;
    background-color: var(--clr-dark);
    transition: var(--transition);
}

.container .card:hover {
    height: 450px;
}

.container .card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.container .card .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(
        transparent,
        #45f3ff,
        #45f3ff,
        #45f3ff,
        transparent
    );
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}

.container .card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.container .card .lines::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
}

.container .card .img-box {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #000;
    transition: var(--transition);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card:hover .img-box {
    top: 25px;
    width: 200px;
    height: 200px;
}

.container .card .img-box i {
    font-size: 5rem;
    color: var(--clr-light);
    position: relative;
    z-index: 1;
    transition: var(--transition);
}

.container .card:hover .img-box i {
    font-size: 8rem;
    color: #45f3ff;
}

.container .card .img-box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    background: linear-gradient(
        transparent,
        #ff3c7b,
        #ff3c7b,
        #ff3c7b,
        transparent
    );
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.container .card:hover .img-box::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.container .card .img-box::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
}

.container .card .img-box img {
    position: absolute;
    width: 100px;
    z-index: 1;
    filter: invert(1);
    opacity: 0.5;
    transition: var(--transition);
}

.container .card:hover .img-box img {
    opacity: 1;
}

.container .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.container .card .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: var(--transition);
    transform: translateY(145px);
}

.container .card:hover .content .details {
    transform: translateY(0px);
}

.container .card .content .details h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #45f3ff;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.container .card .content .details p {
    color: var(--clr-light);
    opacity: 0;
    transform: var(--transition);
}

.container .card .content .details a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #45f3ff;
    color: var(--clr-dark);
    margin-top: 0.625rem;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: var(--transition);
}

.container .card:hover .content .details p,
.container .card:hover .content .details a {
    opacity: 1;
}

.container .card .content .details a:hover {
    background-color: #ff3c7b;
    color: var(--clr-light);
}

@media (max-width: 860px) {
    .container {
        gap: 120px;
    }
}
