*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #f1f1f1;
    --clr-dark: #222;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark);
    background: linear-gradient(125deg, #34495e, #2ecc71);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.cards {
    max-width: 1000px;
    margin: auto;
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
}

.cards .card {
    background-color: var(--clr-light);
    flex: 1;
    margin: 10px;
    text-transform: uppercase;
    min-width: 15rem;
}

.cards .card-header {
    color: var(--clr-light);
    position: relative;
    margin-bottom: 20px;
}

.cards .card1 .card-header {
    background: #2980b9;
}

.cards .card2 .card-header {
    background: #c0392b;
}

.cards .card3 .card-header {
    background: #2c3e50;
}

.cards .card1 .card-title {
    background-image: linear-gradient(125deg, #3498db, #9b59b6);
}

.cards .card2 .card-title {
    background-image: linear-gradient(125deg, #e74c3c, #f39c12);
}

.cards .card3 .card-title {
    background-image: linear-gradient(125deg, #34495e, #95a5a6);
}

.cards .card-header .card-price {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.cards .card-header .card-price span {
    font-size: 2rem;
}

.cards .card-header .card-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    max-width: 360px;
    text-align: center;
    padding: 8px 0;
    font-size: 0.875rem;
}

.cards .card .card-info {
    padding: 10px 20px;
}

.cards .card .card-info li {
    margin: 0.5rem 0;
    font-size: 0.875rem;
    color: #344;
    text-align: center;
}

.cards .card .card-info .border {
    width: 80px;
    height: 1px;
    background: #344;
    margin: auto;
}

.cards .card a {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 8px 0;
    font-size: 0.875rem;
    border: 1px solid var(--clr-accent);
    max-width: 360px;
    transition: var(--transition);
}

.cards .card a:hover {
    border-radius: 2em;
}

.cards .card1 a {
    --clr-accent: #2980b9;
    color: var(--clr-accent);
}

.cards .card2 a {
    --clr-accent: #c0392b;
    color: var(--clr-accent);
}

.cards .card3 a {
    --clr-accent: #2c3e50;
    color: var(--clr-accent);
}

.cards .card1 a:hover {
    background: var(--clr-accent);
    color: #fff;
}

.cards .card2 a:hover {
    background: var(--clr-accent);
    color: #fff;
}

.cards .card3 a:hover {
    background: var(--clr-accent);
    color: #fff;
}

@media screen and (max-width: 780px) {
    .cards .card {
        flex: 100%;
    }
}
