*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #282e44;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #191919;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --gap: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

header {
    width: 100%;
    background: linear-gradient(
        60deg,
        rgba(64, 130, 109, 1),
        rgba(25, 29, 43, 1)
    );
}

header h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
}

.container {
    display: flex;
    gap: var(--gap);
    padding: var(--padding);
}

.weather-input {
    width: 550px;
}

.weather-input input {
    /* height: 3rem; */
    width: 100%;
    outline: none;
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0 1.25rem 0;
    border-radius: var(--radius);
    border: 2px solid var(--clr-grey-3);
    transition: var(--transition);
}

.weather-input input:focus {
    border: 2px solid var(--clr-accent);
}

.weather-input .separator {
    height: 0.5rem;
    width: 100%;
    border-radius: var(--radius);
    margin: 2rem 0;
    background: var(--clr-accent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    color: var(--clr-light);
    font-size: 1.125rem;
    padding: 0 1rem;
    border-radius: var(--radius);
    background: var(--clr-accent);
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    color: var(--clr-light);
    background: var(--clr-accent);
    transition: var(--transition);
}

.weather-input .search-btn:hover {
    background: #22463a;
}

.weather-input .location-btn {
    background: var(--clr-primary);
}

.weather-input .location-btn:hover {
    background: #3e4869;
}

.weather-data {
    width: 100%;
}

.weather-data .current-weather {
    color: var(--clr-light);
    background: var(--clr-accent);
    border-radius: var(--radius);
    padding: 1.25rem 4.5rem 1.25rem 1.25rem;
    display: flex;
    justify-content: space-between;
}

.current-weather h2 {
    font-weight: 700;
    font-size: 1.75rem;
}

.weather-data h6 {
    margin-top: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #6c757d;
    border-radius: 5px;
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .container {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .weather-input {
        width: 100%;
    }

    .weather-data h2 {
        font-size: 1.375rem;
    }
}
