*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px 1px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-dark);
    background: url("./bg_img.jpg") center / cover no-repeat fixed;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

p:not(:last-child) {
    margin-bottom: 1.5em;
    font-size: 1.25rem;
}

.card {
    max-width: 30rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 2.23rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: var(--shadow-dark);
    backdrop-filter: blur(15px);
}

.card-author {
    font-size: 0.875rem;
    color: #444;
}
