*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #6b0101;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.slider-container {
    position: relative;
    width: 90%;
    min-height: 700px;
    margin: auto;
    display: grid;
    overflow: hidden;
}

.slider-container .slider .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.slider-container .slider .slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-container .slider .slide:first-child {
    display: block;
}

.slider-container .slide-buttons {
    position: absolute;
    left: 0;
    bottom: 4%;
    height: 2rem;
    width: 100%;
    text-align: center;
}

.slider-container a.slide-btn {
    color: var(--clr-primary);
    font-size: 42px;
    margin: 0 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slider-container .slide-btn.active,
.slider-container .slide-btn:hover {
    color: var(--clr-accent);
    cursor: pointer;
}

.slider-container .directional-nav {
    height: 100px;
    margin: 0 auto;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-container .previous-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.slider-container .next-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.slider-container .previous-btn,
.slider-container .next-btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.slider-container .previous-btn:hover,
.slider-container .next-btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .slider-container {
        width: 100%;
        padding: 0 2rem;
    }

    .slider-container .previous-btn {
        left: 50px;
    }
    .slider-container .next-btn {
        right: 50px;
    }
}
