*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    gap: 80px;
}

.container img {
    --mask: radial-gradient(circle farthest-side at right, #000 99%, #0000) 0
            100%/46% 92% no-repeat,
        radial-gradient(circle farthest-side at left, #000 99%, #0000) 100% 0/46%
            92% no-repeat;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    filter: grayscale(0.5);
    transition: 0.3s linear;
    cursor: pointer;
}

img:hover {
    -webkit-mask-position: 7.5% 50%, 92.5% 50%;
    mask-position: 7.5% 50%, 92.5% 50%;
    filter: grayscale(0);
}
