*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-text-dark: #333;
    --clr-text-light: #f9f9f9;
    --clr-accent: #5fa8df;

    --btn-transition: all .3s ease-in;
    --nav-transition: all .7s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--clr-text-dark);
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-text-light);
    padding: .625em 1.25em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: var(--nav-transition);
}

header.active {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25em;
}

header .logo-icon {
    font-size: 2rem;
    align-self: baseline;
    padding-top: 2px;
    transition: var(--btn-transition);
}

header .logo-icon:hover {
    animation: globe 2s ease-in-out;
    color: var(--clr-accent);
}

header .logo-info {
    font-family: 'Seaweed Script', cursive;
    font-size: 2rem;
    letter-spacing: 1px;
}

header .navigation .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navigation .nav-item {
    list-style: none;
    padding-inline: .5em;
    position: relative;
    transition: var(--btn-transition);
}

header .navigation .nav-item:hover {
    color: var(--clr-accent);
    transform: translateY(6px);
}

/* header .navigation .nav-item::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
    color: #fff;
    background: #fff;
} */

/* napraviti animaciju linije koja se pojavljuje na hover, element se spusta dole, linija se pokazuje iz sredine i ide u strane */

header .navigation .nav-link {
    color: inherit;
    font-size: .75rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@keyframes globe {
    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }
}

/*====================
=====Main content=====
======================*/

/* Hero section  */

.hero {
    background: url('./img/marina-YmQ0-nmWcV0-unsplash.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    color: var(--clr-text-light);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero-name {
    font-family: 'Seaweed Script', cursive;
    font-size: 12vw;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.hero .hero-info {
    letter-spacing: .25em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* About us section */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--clr-text-dark);
    padding: 5em 1em 0;
}

.about-us .sec-title {
    font-family: 'Seaweed Script', cursive;
    font-size: 2.25rem;
}

.about-us .sec-info {
    max-width: 70ch;
    margin-top: 2em;
}

.about-us .sec-info span {
    display: block;
    margin-top: 1em;
    text-align: justify;
}

/* Cards section */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 5em 3em;
}

.cards .card {
    border-radius: .5em;
    width: 22rem;
    height: 33rem;
    padding: .75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: transform .3s ease-in;
}

.cards .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.cards .card-img {
    min-width: 100%;
    max-height: 183px;
    object-fit: cover;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.cards .card-title {
    font-family: 'Seaweed Script', cursive;
    font-size: 2.25rem;
}
 
.cards .card-info {
    font-size: .875rem;
    text-align: justify;
}

.cards .card-btn {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
    border: none;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    padding: .375em 0;
    position: relative;
    z-index: 1;
    transition: var(--btn-transition);
}

.cards .card-btn::before,
.cards .card-btn::after,
.contact-form .submit-btn::before,
.contact-form .submit-btn::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.cards .card-btn:hover {
    cursor: pointer;
    outline: 2px solid var(--clr-accent);
    color: var(--clr-accent);
    box-shadow: inset -12em 0 0 0 var(--clr-text-light),
                inset 12em 0 0 0 var(--clr-text-light);
    letter-spacing: 5px;
}

/* Form  */

.contact-form {
    width: 100%;
    height: 26rem;
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    padding: 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form h2 {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .75rem;
    position: relative;
}

.contact-form h2::before {
    content: '';
    width: 12rem;
    height: 2px;
    background-color: var(--clr-text-light);
    position: absolute;
    bottom: -2px;
    left: calc(50% - 6rem);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
.contact-form form .left-side,
.contact-form form .right-side {
    width: max(12rem, 20rem);
}

.contact-form .form-element {
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    font-size: .875rem;
    letter-spacing: 1px;
    margin-bottom: .375em;
}

.contact-form input {
    font-family: inherit;
    width: 100%;
    padding: 5px 8px;
    border: none;
    border-radius: .5em;
}

.contact-form textarea {
    font-family: inherit;
    width: 100%;
    height: 12em; 
    border-radius: .5em;
    border: none;
    padding: .5em;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.contact-form .submit-btn {
    width: 15em;
    padding: .375em 0;
    border: 2px solid var(--clr-text-light);
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 1em;
    transition: var(--btn-transition);
}

.contact-form .submit-btn:hover {
    cursor: pointer;
    outline: 2px solid var(--clr-text-light);
    box-shadow: inset -7.5em 0 0 0 var(--clr-text-light),
                inset 7.5em 0 0 0 var(--clr-text-light);
    color: var(--clr-accent);
    letter-spacing: 5px;
}

/*====================
======= Footer =======
======================*/

footer {
    color: var(--clr-text-light);
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 2em 2em;
    background-color: #3995db;
    border-top: 2px solid var(--clr-text-light);
    gap: 2em;
}

footer .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    position: relative;
}

footer .footer-top .contact {
    width: max(210px, 400px);
    text-align: right;
}

footer .footer-top .contact-list {
    list-style: none;
}

footer .footer-bottom {
    position: relative;
}

footer .footer-bottom::before {
    content: '';
    width: 10rem;
    height: 2px;
    background-color: var(--clr-text-light);
    position: absolute;
    top: -5px;
    left: calc(50% - 5rem);
}

/*=====================
==== Media Queries ====
=======================*/

@media (max-width: 50rem) {

    .about-us {
        max-width: 90%;
        margin-inline: auto;
    }

    .contact-form {
        height: 35rem;
    }

    .contact-form h2 {
        margin-bottom: 1em;
    }

    .contact-form form .top {
        flex-direction: column;
        gap: 0;
    }

    .contact-form .submit-btn {
        width: max(12rem, 20rem);
    }

    footer .footer-top {
        flex-direction: column;
        gap: 2em;
    }
}
