*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

html,
body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    height: 100%;
}

.menu {
    width: 8rem;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    color: var(--clr-light);
    display: none;
}

.menu-options {
    list-style-type: none;
    padding: 0.625rem 0;
}

.menu-option {
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.625rem 2.5rem 0.625rem 1.25rem;
    cursor: pointer;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}
