*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;

    --clr-light: #cbd5e1;
    --clr-mid: #334155;
    --clr-dark: #475569;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: #222;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-size: 14px;
}

body::before {
    content: "Hover or tap the icons.";
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

#wrapper header {
    width: 340px;
    padding: 0 16px;
    display: flex;
    border: 1px solid var(--clr-dark);
    border-radius: 16px;
}

#wrapper .icon-div {
    height: 36px;
    width: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4px;
    padding: 4px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}

#wrapper .icon-wrapper {
    height: 36px;
    aspect-ratio: 1 / 1;
}

#wrapper .icon-div:hover,
#wrapper .icon-div:focus-visible {
    width: 142px;
    background-color: var(--clr-mid);
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}

#wrapper .icon-div:focus-visible {
    outline: 1px solid var(--clr-mid);
    outline-offset: 4px;
}

#wrapper .icon-div:active {
    opacity: 0.9;
}

#wrapper .icon-div::after {
    content: attr(tooltip);
    margin-left: 12px;
    animation: fadeIn 600ms linear forwards;
}

#wrapper .spacer {
    flex-grow: 1;
}

#wrapper .divider {
    height: 36px;
    width: 1px;
    margin: 24px 18px;
    background-color: var(--clr-dark);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
