*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #171717;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 1.5rem;
    --max-width: 100rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 20px rgba(255, 255, 255, 0.15);
    --shadow-dark: 0 0 20px rgba(255, 255, 255, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.splide {
    padding: 5rem 2.5rem;
    max-width: var(--max-width);
}

.splide .splide__track {
    padding-block: 30px;
}

.splide .splide__slide {
    max-width: 400px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow-light);
}

.splide .splide__slide .img-wrapper img {
    max-width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}
