*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #171717;

    --padding: 2rem;
    --radius: 1.5rem;
    --max-width: 100rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 20px rgba(255, 255, 255, 0.15);
    --shadow-dark: 0 0 20px rgba(255, 255, 255, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.splide {
    position: relative;
    padding-bottom: 2.5rem;
}

.splide::before {
    content: "";
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
        90deg,
        rgba(23, 23, 23, 1) 0%,
        rgba(23, 23, 23, 0) 100%
    );
}

.splide::after {
    content: "";
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(
        90deg,
        rgba(23, 23, 23, 0) 0%,
        rgba(23, 23, 23, 1) 100%
    );
}

.splide .splide__track {
    padding-block: 30px;
}

.splide .splide__slide {
    max-width: 400px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow-light);
    position: relative;
}

.splide .splide__slide .img-wrapper img {
    max-width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.splide .splide__slide .location {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.splide .splide__slide .location .loc {
    font-size: 0.75rem;
}

.splide .splide__slide .location:hover {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    transition: var(--transition);
}

.splide .splide__slide .location svg {
    height: 24px;
    width: auto;
    display: block;
}

.splide .splide__slide .text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 24px 24px;
    transform: translateY(100%);
    transition: var(--transition);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 65%,
        rgba(0, 0, 0, 0) 100%
    );
}

.splide .splide__slide:hover .text-content {
    transform: translateY(0);
}

.splide .splide__slide .text-content .card-heading {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.splide .splide__arrows .splide__arrow {
    z-index: 2;
}

.splide .splide__arrows .splide__arrow--prev {
    left: 2rem;
}

.splide .splide__arrows .splide__arrow--next {
    right: 2rem;
}

.splide .splide__pagination__page {
    background-color: var(--clr-light);
    transition: var(--transition);
}

.splide .splide__pagination__page.is-active {
    background: var(--clr-accent);
    width: 10px;
    height: 10px;
}

@media (max-width: 620px) {
    .splide {
        padding: 40px 0 40px 30px;
    }

    .splide .splide__slide {
        max-width: 300px;
    }

    .splide::before,
    .splide::after {
        width: 80px;
    }
}
