*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #171717;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 1.5rem;
    --max-width: 100rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 20px rgba(255, 255, 255, 0.15);
    --shadow-dark: 0 0 20px rgba(255, 255, 255, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.splide {
    padding: 5rem 2.5rem;
    max-width: var(--max-width);
}

.splide .splide__track {
    padding-block: 30px;
}

.splide .splide__slide {
    max-width: 400px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow-light);
    position: relative;
}

.splide .splide__slide .img-wrapper img {
    max-width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.splide .splide__slide .location {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;
}

.splide .splide__slide .location .loc {
    position: absolute;
    right: -500%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.splide .splide__slide .location:hover {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    transition: var(--transition);
}

.splide .splide__slide .location:hover .loc {
    position: static;
    opacity: 1;
    transition-delay: 0.3s;
}

.splide .splide__slide .location svg {
    height: 24px;
    width: auto;
    display: block;
}

.splide .splide__slide .text-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    transform: translateY(100%);
    transition: var(--transition);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0) 100%
    );
}

.splide .splide__slide:hover .text-content {
    transform: translateY(0);
}
