*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #efefef;
    --clr-dark: #333;

    --padding: 2rem;
    --radius: 0.625rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

ul,
li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 30rem;
    padding: 0 2.5rem;
}

.container .breadcrumb {
    display: flex;
    border-radius: var(--radius);
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 2.5rem;
    transform: translateY(-50%);
    z-index: 1;
    justify-content: center;
}

.container .breadcrumb__item {
    height: 100%;
    background-color: #fff;
    color: var(--clr-dark);
    font-family: inherit;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 5px;
    padding: 0 2.5rem;
    cursor: pointer;
}
