*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-light: #fafafa;
    --clr-dark: #333;

    --transition: all 0.5s ease;
}

body {
    font-family: "Poppins", sans-serif;
    display: grid;
    place-items: center;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
}

.navigation {
    width: 5rem;
    background-color: var(--clr-light);
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: var(--transition);
    overflow: hidden;
}

.navigation.active {
    width: 25rem;
}

.navigation .menu-toggle {
    position: relative;
    height: 4.375rem;
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation .menu-toggle::before,
.navigation .menu-toggle::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: var(--clr-dark);
    transform: translateY(-10px);
    transition: var(--transition);
}

.navigation .menu-toggle::after {
    transform: translateY(10px);
    box-shadow: 0 -10px var(--clr-dark);
}

.navigation.active .menu-toggle::before {
    transform: translateY(0px) rotate(45deg);
}

.navigation.active .menu-toggle::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 var(--clr-dark);
}

.navigation .user-profile {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0;
    padding: 0 0.625rem;
}

.navigation .user-img {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--transition);
}

.navigation.active .user-img {
    width: 12rem;
    height: 12rem;
}

.navigation .user-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation .menu {
    position: relative;
    width: 100%;
    padding: 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation.active .menu {
    padding: 10px 20px;
}

.navigation .menu .menu-item {
    list-style: none;
    width: 3.5rem;
}

.navigation.active .menu .menu-item {
    width: 100%;
}

.navigation .menu .menu-item:not(:first-of-type) {
    margin-top: 0.5em;
}

.navigation .menu a {
    position: relative;
    color: var(--clr-dark);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.5em;
    transition: var(--transition);
}

.navigation .menu a:hover {
    background-color: #0084ff;
    color: var(--clr-light);
}

.navigation .menu .icon {
    position: relative;
    font-size: 1.5rem;
    min-width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .menu .text {
    position: relative;
    font-size: 1.125rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    opacity: 0;
}

.navigation.active .text {
    opacity: 1;
}
