*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #222;

    --transition: all 0.2s ease-in-out;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    position: relative;
    height: 300px;
    width: 600px;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    transition: var(--transition);
}

.wrapper .image-wrapper {
    height: 300px;
    width: 450px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.wrapper img {
    height: 300px;
    width: 450px;
    object-fit: cover;
    object-position: top;
    transition: var(--transition);
}

.wrapper .book-design-image {
    object-position: center;
}

.wrapper .header-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 300px;
    left: 380px;
    transition: var(--transition);
    overflow: hidden;
}
