*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: var(--clr-light);
}

.slider {
    position: relative;
    display: flex;
}

.slider .slides {
    position: relative;
    top: -4rem;
    left: 10rem;
}

.slider .slides img {
    position: absolute;
    width: 450px;
    height: 450px;
    opacity: 0;
    z-index: 1000;
}

.slider .slides img.active {
    opacity: 1;
}

.slider .overlays {
    position: relative;
    width: 36rem;
    height: 18rem;
}

.slider .overlays .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bar-color);
    transform-origin: left;
}

.slider .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 0 6rem;
    list-style-type: none;
}

.slider .nav-links .nav-link {
    font-size: 2rem;
    font-family: Lora, serif;
    line-height: 2;
    text-decoration: none;
    color: #7f8c8d;
    transition: 0.3s;
}

.slider .nav-links .nav-link:hover {
    color: #1c1e1f;
}

.slider .nav-links .nav-link.active {
    color: #000;
    pointer-events: none;
}
