*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fff;
    --clr-dark: #222;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.dropdown {
    margin: 50px auto;
    width: 300px;
    display: block;
}

.dropdown .button {
    transition: var(--transition);
    border-radius: 1.25rem;
    font-size: 1.375rem;
    line-height: 1.25em;
    padding: 8px 40px 8px 15px;
    z-index: 900;
    color: var(--clr-light);
    font-weight: 900;
    position: relative;
    border: 2px solid transparent;
    margin-top: 2px;
    z-index: 5;
    display: block;
    width: 100px;
    margin: 0 auto;
    background: #1b1b1b;
}

.dropdown .button:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    color: var(--clr-accent);
}

.dropdown .button:hover .hamburger span {
    background: var(--clr-accent);
}

.dropdown .button:after,
.dropdown .button:before {
    display: block;
    content: " ";
    position: absolute;
    top: 2px;
    height: 100%;
    width: 20px;
    background: var(--clr-dark);
    z-index: 0;
}

.dropdown .button:after {
    left: 100%;
    margin-left: 2px;
    border-bottom-left-radius: 10px;
}

.dropdown .button:before {
    right: 100%;
    margin-right: 2px;
    border-bottom-right-radius: 10px;
}

.dropdown .button .hamburger {
    transition: var(--transition);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 14px;
    transform-origin: center;
    z-index: -1;
}

.dropdown .button .hamburger span {
    transition: var(--transition);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    width: 100%;
    height: 2px;
    background: var(--clr-light);
    display: block;
    left: 0;
    transform-origin: center;
}

.dropdown .button .hamburger span:first-child {
    top: 0;
    transform: none;
}

.dropdown .button .hamburger span:last-child {
    top: auto;
    bottom: 0;
    transform: none;
}

.dropdown .button .hamburger:after {
    transition: var(--transition);
    content: " ";
    display: block;
    position: absolute;
    top: 12px;
    right: -37px;
    height: 0;
    width: 199px;
    left: auto;
    z-index: -2;
    background: var(--clr-dark);
    opacity: 0;
}

.dropdown .button.open {
    border-color: transparent;
    background: var(--clr-dark);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: var(--clr-accent);
}

.dropdown .button.open .hamburger span {
    background: var(--clr-accent);
}

.dropdown .button.open .hamburger span:first-child {
    opacity: 0;
}

.dropdown .button.open .hamburger span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.dropdown .button.open .hamburger span:nth-child(3) {
    transform: translateY(-50%) rotate(45deg);
}

.dropdown .button.open .hamburger span:last-child {
    opacity: 0;
}

.dropdown .button.open .hamburger:after {
    height: 15px;
    opacity: 1;
}

.dropdown .list {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--clr-dark);
    float: left;
    overflow: hidden;
    z-index: 999;
}

.dropdown .list li {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    box-sizing: border-box;
}

.dropdown .list li:last-child {
    border: none;
}
