*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #222;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.skills {
    width: 100%;
    max-width: 600px;
    padding-inline: 1.25em;
}

.skills .skill-name {
    font-size: 1.125rem;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 1em 0;
}

.skills .skill-bar {
    height: 1em;
    background-color: #383838;
    border-radius: var(--radius);
}

.skills .skill-per {
    height: 100%;
    background-color: var(--clr-accent);
    border-radius: var(--radius);
    position: relative;
    animation: fill 2.5s 1;
}

.skills .skill-per::before {
    content: attr(per);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 4px 6px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    border-radius: var(--radius);
    position: absolute;
    top: -35px;
    right: 0;
    transform: translate(50%);
}

.skills .skill-per::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--clr-light);
    border-radius: 2px;
    position: absolute;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

@keyframes fill {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
