*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #edf2f4;
    --clr-dark: #222;
    --clr-grey: #7f7f7f;
    --body-pad-top: 4.375rem;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    display: grid;
    margin: 0;
    padding: var(--body-pad-top) 45px;
    min-width: 350px;
    grid: auto / 200px minmax(300px, 500px);
    align-items: start;
    justify-content: center;
    gap: 1.25rem;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    color: var(--clr-dark);
    background: var(--clr-light);
}

nav {
    position: sticky;
    left: 0;
    top: var(--body-pad-top);
    line-height: 2;
}

article {
    margin-top: -50px;
    padding-top: 50px;
}

nav ul {
    margin: 0;
    padding-left: 10px;
    list-style: none;
}

nav li > ul {
    padding-left: 30px;
}

nav a {
    display: inline-block;
    color: var(--clr-grey);
    text-decoration: none;
    transition: var(--transition);
}

nav li.visible > a {
    color: var(--clr-dark);
    transform: translate(5px);
}

nav svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

nav path {
    transition: var(--transition);
    fill: transparent;
    stroke: var(--clr-accent);
    stroke-width: 3px;
    stroke-dasharray: 0 0 0 1000;
    stroke-linecap: round;
    stroke-linejoin: round;
}

section[id] {
    margin: 25px 0;
    padding: 25px 0;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-size: 2.25rem;
}

h2 {
    padding-left: 10px;
    border-left: 4px solid var(--clr-accent);
    font-size: 1.5rem;
}

h1 span,
.subheading {
    display: block;
    color: var(--clr-grey);
    font-size: 1.25rem;
    font-weight: 700;
}

article a {
    color: var(--clr-dark);
    text-decoration-color: var(--clr-accent);
}

article a:hover {
    margin: -2px;
    padding: 2px;
    border: 0;
    background: var(--clr-accent);
}

code {
    margin: -2px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.05);
    font-family: monospace;
    color: var(--clr-dark);
}

/* Scroll all the way up even if the first section starts a couple hundred pixels down the page */
section:first-of-type {
    margin-top: -300px;
    padding-top: 350px;
}

article,
section:last-of-type,
section:last-of-type p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}
