* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-primary: #191d2b;
  --clr-accent: #40826d;
  --clr-light: #fafafa;
  --clr-dark: #333;
  --clr-grey-0: #f8f8f8;
  --clr-grey-1: #dbe1e8;
  --clr-grey-2: #b2becd;
  --clr-grey-3: #6c7983;
  --clr-grey-4: #454e56;
  --clr-grey-5: #2a2e35;
  --clr-grey-6: #12181b;
  --padding: 2rem;
  --radius: 0.25rem;
  --max-width: 75rem;
  --transition: all 0.5s ease-in-out;
  --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

.light-mode {
  --clr-primary: #fff;
  --clr-accent: #ffd700;
  --clr-light: #454e56;
  --clr-dark: #333;
  --clr-grey-0: #f8f8f8;
  --clr-grey-1: #6c7983;
  --clr-grey-2: #6c7983;
  --clr-grey-3: #6c7983;
  --clr-grey-4: #454e56;
  --clr-grey-5: #f8f8f8;
  --clr-grey-6: #12181b;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 10rem;
}

.container {
  display: none;
  background-color: var(--clr-primary);
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.active {
  display: block;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-animation: showSection 1s ease-in-out;
          animation: showSection 1s ease-in-out;
}

@-webkit-keyframes showSection {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes showSection {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.navigation {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation .nav-btn {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--clr-grey-4);
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.625rem 0;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.navigation .nav-btn:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0 0 20px var(--clr-accent);
          box-shadow: 0 0 20px var(--clr-accent);
}

.navigation .nav-btn:hover i {
  color: var(--clr-grey-0);
}

.navigation .nav-btn i {
  font-size: 1.125rem;
  color: var(--clr-grey-2);
  pointer-events: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.navigation .active-btn {
  background-color: var(--clr-accent);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.navigation .active-btn i {
  color: var(--clr-light);
}

.theme-btn {
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: calc(3% - 6px);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--clr-grey-4);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 100;
}

.theme-btn:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0 0 20px var(--clr-accent);
          box-shadow: 0 0 20px var(--clr-accent);
}

.theme-btn:hover i {
  color: var(--clr-grey-0);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.theme-btn i {
  font-size: 1.5rem;
  color: var(--clr-grey-2);
  pointer-events: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: start;
}

.main-btn {
  border-radius: 2.5em;
  color: inherit;
  font-weight: 600;
  border: 2px solid var(--clr-accent);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-text {
  padding: 0 2em;
}

.main-btn .btn-icon {
  background-color: var(--clr-accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1em;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.main-btn:hover::before {
  background-color: var(--clr-accent);
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  letter-spacing: 1px;
  line-height: 1.6;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.title h2 span {
  color: var(--clr-accent);
}

.title h2 .bg-text {
  font-size: 8rem;
  font-weight: 800;
  color: var(--clr-grey-5);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header {
  min-height: 100vh;
  color: var(--clr-light);
  overflow: hidden;
  padding: 0 !important;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.header-content .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-content .header-left .shape {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 65%;
  height: 100%;
  background-color: var(--clr-accent);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.header-content .header-left .image {
  border-radius: 1em;
  height: 85%;
  width: 68%;
  margin-left: 4em;
  background-color: var(--clr-dark);
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header-content .header-left .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.header-content .header-left .image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.header-content .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15rem;
}

.header-content .header-right .name {
  font-size: 2.5rem;
}

.header-content .header-right .name span {
  color: var(--clr-accent);
}

.header-content .header-right p {
  margin: 1.5rem 0;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 3em;
  padding-bottom: 5em;
}

.about-container .about-left {
  padding-right: 5em;
}

.about-container .about-left h4 {
  font-size: 1.75rem;
}

.about-container .about-left p {
  padding: 2em 0;
  color: var(--clr-grey-1);
}

.about-container .about-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.about-container .about-right .about-item {
  border: 2px solid var(--clr-grey-5);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.about-container .about-right .about-item:hover {
  cursor: default;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border: 2px solid var(--clr-accent);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

.about-container .about-right .about-item .about-text {
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container .about-right .about-item .about-text .text-large {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-accent);
}

.about-container .about-right .about-item .about-text .text-small {
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--clr-grey-1);
  padding-left: 3em;
  position: relative;
}

.about-container .about-right .about-item .about-text .text-small::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 30px;
  height: 2px;
  background-color: var(--clr-light);
}

.portfolio-text {
  text-align: center;
  padding: 1em;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin-top: 3em;
}

.projects .project {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects .project img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.projects .project:hover .hover-card {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects .project .hover-card {
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.projects .project .hover-card h3 {
  font-size: 1.5rem;
  color: var(--clr-light);
  margin-bottom: 1em;
}

.projects .project .hover-card .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project .hover-card .icons .icon {
  cursor: pointer;
  background-color: var(--clr-primary);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.projects .project .hover-card .icons .icon i {
  font-size: 2rem;
  color: var(--clr-light);
  margin: 0 1rem;
}

.projects .project .hover-card .icons .icon:hover {
  background-color: var(--clr-light);
}

.projects .project .hover-card .icons .icon:hover i {
  color: var(--clr-primary);
}

.blogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin-top: 3em;
}

.blogs .blog {
  position: relative;
  background-color: var(--clr-grey-5);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.blogs .blog:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blogs .blog:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 15px var(--clr-accent);
          box-shadow: 0 0 15px var(--clr-accent);
}

.blogs .blog img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blogs .blog .blog-info {
  margin-top: -0.5em;
  padding: 1.125em;
  border-top: 8px solid var(--clr-accent);
}

.blogs .blog .blog-info h4 {
  cursor: pointer;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blogs .blog .blog-info h4:hover {
  color: var(--clr-accent);
}

.blogs .blog .blog-info p {
  color: var(--clr-grey-1);
  font-size: 0.875rem;
  padding-bottom: 0.5em;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3em;
}

.contact-content .contact-left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contact-content .contact-left h4 {
  margin-top: 0.5em;
}

.contact-content .contact-left h4 span {
  color: var(--clr-accent);
}

.contact-content .contact-left p {
  margin: 1em 0;
}

.contact-content .contact-left .contact-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content .contact-left .contact-info .contact-item .icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5rem 1fr;
      grid-template-columns: 2.5rem 1fr;
}

.contact-content .contact-left .contact-info .contact-item .icon i {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content .contact-left .contact-info .contact-item p {
  margin: 0.25em 0;
}

.contact-content .contact-left .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em;
}

.contact-content .contact-left .contact-icons a {
  cursor: pointer;
  color: var(--clr-grey-2);
  background-color: var(--clr-grey-5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.contact-content .contact-left .contact-icons a:nth-of-type(1) {
  --clr-accent: #3b5998;
}

.contact-content .contact-left .contact-icons a:nth-of-type(2) {
  --clr-accent: #0077b5;
}

.contact-content .contact-left .contact-icons a:nth-of-type(3) {
  --clr-accent: #1da1f2;
}

.contact-content .contact-left .contact-icons a:nth-of-type(4) {
  --clr-accent: #333;
}

.contact-content .contact-left .contact-icons a:not(:first-of-type) {
  margin-left: 1em;
}

.contact-content .contact-left .contact-icons a:hover {
  color: var(--clr-grey-0);
  background-color: var(--clr-accent);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.2);
}

.contact-content .contact-left .contact-icons a i {
  font-size: 1.25rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact-content .contact-right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 3em;
}

.contact-content .contact-right .form-element {
  margin: 1.5em 0;
}

.contact-content .contact-right .form-element input,
.contact-content .contact-right .form-element textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: 1px;
  color: var(--clr-light);
  background-color: var(--clr-grey-5);
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--radius);
  border: 2px solid var(--clr-accent);
  outline: none;
  resize: none;
  transition: --transition;
}

.contact-content .contact-right .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-content .contact-right .form-flex :last-child {
  margin-left: 1.5em;
}
/*# sourceMappingURL=styles.css.map */