* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

.light-mode {
    --clr-primary: #fff;
    --clr-accent: #ffd700;
    --clr-light: #454e56;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #6c7983;
    --clr-grey-2: #6c7983;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #f8f8f8;
    --clr-grey-6: #12181b;
}

// =======
// General
// =======

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    transition: var(--transition);
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 10rem;
}

.container {
    display: none;
    background-color: var(--clr-primary);
    transform: translateY(-100%) scale(0);
    transition: var(--transition);
}

// Active page
.active {
    display: block;
    transform: translateY(0) scale(1);
    animation: showSection 1s ease-in-out;

    // slide top to bottom
    // @keyframes showSection {
    //     0% {
    //         transform: translateY(-100%) scaleY(0);
    //     }
    //     100% {
    //         transform: translateY(0) scaleY(1);
    //     }
    // }

    @keyframes showSection {
        0% {
            transform: translateY(-100%) scale(0);
        }
        100% {
            transform: translateY(0) scale(1);
        }
    }
}

// ==========
// Navigation
// ==========

.navigation {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    .nav-btn {
        cursor: pointer;
        padding: 1rem;
        background-color: var(--clr-grey-4);
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.625rem 0;
        box-shadow: var(--shadow-dark);
        transition: var(--transition);

        &:hover {
            transition: var(--transition);
            box-shadow: 0 0 20px var(--clr-accent);

            i {
                color: var(--clr-grey-0);
            }
        }

        i {
            font-size: 1.125rem;
            color: var(--clr-grey-2);
            pointer-events: none;
            transition: var(--transition);
        }
    }

    .active-btn {
        background-color: var(--clr-accent);
        transition: var(--transition);

        i {
            color: var(--clr-light);
        }
    }
}

// Color theme btn
.theme-btn {
    cursor: pointer;
    position: fixed;
    top: 5%;
    right: calc(3% - 6px);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--clr-grey-4);
    display: grid;
    place-items: center;
    box-shadow: var(--shadow-dark);
    transition: var(--transition);
    z-index: 100;

    &:hover {
        transition: var(--transition);
        box-shadow: 0 0 20px var(--clr-accent);

        i {
            color: var(--clr-grey-0);
            transform: rotate(180deg);
        }
    }

    i {
        font-size: 1.5rem;
        color: var(--clr-grey-2);
        pointer-events: none;
        transition: var(--transition);
    }
}

// =======
// Buttons
// =======

.btn-container {
    display: flex;
    justify-content: space-between;
    align-self: start;
}

.main-btn {
    border-radius: 2.5em;
    color: inherit;
    font-weight: 600;
    border: 2px solid var(--clr-accent);
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    .btn-text {
        padding: 0 2em;
    }

    .btn-icon {
        background-color: var(--clr-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1em;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--transition);
        z-index: -1;
    }

    &:hover {
        transition: var(--transition);

        &::before {
            background-color: var(--clr-accent);
            width: 100%;
            height: 100%;
            transform: translateX(0);
            transition: var(--transition);
            // animation: slider 3s linear infinite;
        }

        // @keyframes slider {
        //     0%,
        //     100% {
        //         transform: translateX(100%);
        //     }

        //     50% {
        //         transform: translateX(0);
        //     }
        // }
    }
}

// ==========
// Typography
// ==========

h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    letter-spacing: 1px;
    line-height: 1.6;
}

.title {
    text-align: center;

    h2 {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        span {
            color: var(--clr-accent);
        }

        .bg-text {
            font-size: 8rem;
            font-weight: 800;
            color: var(--clr-grey-5);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            transition: var(--transition);
        }
    }
}

// ======
// Header
// ======

.header {
    min-height: 100vh;
    color: var(--clr-light);
    overflow: hidden;
    padding: 0 !important;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;

    .header-left {
        display: flex;
        align-items: center;
        position: relative;

        .shape {
            transition: var(--transition);
            width: 65%;
            height: 100%;
            background-color: var(--clr-accent);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .image {
            border-radius: 1em;
            height: 85%;
            width: 68%;
            margin-left: 4em;
            background-color: var(--clr-dark);
            overflow: hidden;
            transition: var(--transition);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--transition);
                filter: grayscale(100%);

                // if photo is in color
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 15rem;

        .name {
            font-size: 2.5rem;

            span {
                color: var(--clr-accent);
            }
        }

        p {
            margin: 1.5rem 0;
        }
    }
}

// =====
// About
// =====

.stats-title {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0;
    position: relative;

    &::before {
        content: "";
        background-color: var(--clr-accent);
        width: 40%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3em;
    padding-bottom: 5em;

    .about-left {
        padding-right: 5em;

        h4 {
            font-size: 1.75rem;
        }

        p {
            padding: 2em 0;
            color: var(--clr-grey-1);
        }
    }

    .about-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;

        .about-item {
            border: 2px solid var(--clr-grey-5);
            border-radius: var(--radius);
            box-shadow: var(--shadow-light);
            transition: var(--transition);

            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 2px solid var(--clr-accent);
                box-shadow: var(--shadow-dark);
            }

            .about-text {
                padding: 1.5em;
                display: flex;
                flex-direction: column;

                .text-large {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--clr-accent);
                }

                .text-small {
                    font-size: 1.125rem;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: var(--clr-grey-1);
                    padding-left: 3em;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 30px;
                        height: 2px;
                        background-color: var(--clr-light);
                    }
                }
            }
        }
    }
}

.about-stats {
    padding-bottom: 4em;

    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;

        .progress-bar {
            display: flex;
            flex-direction: column;

            .progress-title {
                font-weight: 500;
                text-transform: uppercase;
            }

            .progress-container {
                display: flex;
                align-items: center;

                .progress-text {
                    color: var(--clr-grey-2);
                }

                .progress {
                    background-color: var(--clr-grey-4);
                    width: 100%;
                    height: 0.5em;
                    margin-left: 1em;
                    position: relative;

                    span {
                        background-color: var(--clr-accent);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 80%;
                        height: 100%;
                        transition: var(--transition);
                    }

                    .html {
                        width: 90%;
                    }

                    .css {
                        width: 85%;
                    }

                    .node {
                        width: 70%;
                    }

                    .react,
                    .python {
                        width: 60%;
                    }
                }
            }
        }
    }
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding-bottom: 4em;

    .timeline-item {
        position: relative;
        padding-left: 3em;
        border-left: 2px solid var(--clr-accent);

        .timeline-icon {
            background-color: var(--clr-accent);
            position: absolute;
            top: 0;
            left: -26px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;

            i {
                font-size: 1.25rem;
            }
        }

        .timeline-duration {
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            background-color: var(--clr-grey-5);
            padding: 0.25em 0.5em;
            border-radius: 1em;
            display: inline-block;
        }

        h5 {
            font-size: 1.125rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0.5em 0;

            span {
                font-size: 0.875rem;
                font-weight: 500;
                color: var(--clr-grey-2);
            }
        }

        p {
            font-size: 0.875rem;
            color: var(--clr-grey-2);
            padding-bottom: 1em;
        }
    }
}

// =========
// Portfolio
// =========

.portfolio-text {
    text-align: center;
    padding: 1em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 3em;

    .project {
        position: relative;
        border-radius: 1rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 18rem;
            object-fit: cover;
            border-radius: 1rem;
            object-position: center bottom;
        }

        &:hover .hover-card {
            opacity: 1;
            transform: scale(1);
        }

        .hover-card {
            width: 100%;
            height: 100%;
            background-color: var(--clr-accent);
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: scale(0);
            transition: var(--transition);

            h3 {
                font-size: 1.5rem;
                color: var(--clr-light);
                margin-bottom: 1em;
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    cursor: pointer;
                    background-color: var(--clr-primary);
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem;
                    transition: var(--transition);

                    i {
                        font-size: 2rem;
                        color: var(--clr-light);
                        margin: 0 1rem;
                    }

                    &:hover {
                        background-color: var(--clr-light);

                        i {
                            color: var(--clr-primary);
                        }
                    }
                }
            }
        }
    }
}

// =====
// Blogs
// =====

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 3em;

    .blog {
        position: relative;
        background-color: var(--clr-grey-5);
        border-radius: var(--radius);
        box-shadow: var(--shadow-light);
        transition: var(--transition);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        &:hover {
            transform: translateY(-6px);
            transition: var(--transition);

            img {
                filter: grayscale(0);
                transform: scale(1.05);
                box-shadow: 0 0 15px var(--clr-accent);
            }
        }

        img {
            width: 100%;
            height: 18rem;
            object-fit: cover;
            border-top-left-radius: var(--radius);
            border-top-right-radius: var(--radius);
            filter: grayscale(100%);
            transition: var(--transition);
        }

        .blog-info {
            margin-top: -0.5em;
            padding: 1.125em;
            border-top: 8px solid var(--clr-accent);

            h4 {
                cursor: pointer;
                font-size: 1.25rem;
                text-transform: capitalize;
                margin-bottom: 0.5em;
                transition: var(--transition);

                &:hover {
                    color: var(--clr-accent);
                }
            }

            p {
                color: var(--clr-grey-1);
                font-size: 0.875rem;
                padding-bottom: 0.5em;
            }
        }
    }
}

// =======
// Contact
// =======

.contact-content {
    display: flex;
    padding-top: 3em;

    .contact-left {
        flex: 2;

        h4 {
            margin-top: 0.5em;

            span {
                color: var(--clr-accent);
            }
        }

        p {
            margin: 1em 0;
        }

        .contact-info {
            .contact-item {
                display: flex;
                justify-content: start;
                align-items: center;

                .icon {
                    display: grid;
                    grid-template-columns: 2.5rem 1fr;

                    i {
                        font-size: 1.25rem;
                        display: flex;
                        align-items: center;
                    }
                }

                p {
                    margin: 0.25em 0;
                }
            }
        }

        .contact-icons {
            display: flex;
            align-items: center;
            margin-top: 1.5em;

            a {
                cursor: pointer;
                color: var(--clr-grey-2);
                background-color: var(--clr-grey-5);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3em;
                height: 3em;
                border-radius: 50%;
                box-shadow: var(--shadow-light);
                transition: var(--transition);

                &:nth-of-type(1) {
                    --clr-accent: #3b5998;
                }

                &:nth-of-type(2) {
                    --clr-accent: #0077b5;
                }

                &:nth-of-type(3) {
                    --clr-accent: #1da1f2;
                }

                &:nth-of-type(4) {
                    --clr-accent: #333;
                }

                &:not(:first-of-type) {
                    margin-left: 1em;
                }

                &:hover {
                    color: var(--clr-grey-0);
                    background-color: var(--clr-accent);
                    box-shadow: 0 0 15px rgba($color: #fff, $alpha: 0.4),
                        0 0 20px rgba($color: #fff, $alpha: 0.2);
                }

                i {
                    font-size: 1.25rem;
                    display: grid;
                    place-items: center;
                }
            }
        }
    }

    .contact-right {
        flex: 3;
        margin-left: 3em;

        .form-element {
            margin: 1.5em 0;

            input,
            textarea {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                letter-spacing: 1px;
                color: var(--clr-light);
                background-color: var(--clr-grey-5);
                width: 100%;
                padding: 0.75rem;
                border-radius: var(--radius);
                border: 2px solid var(--clr-accent);
                outline: none;
                resize: none;
                transition: --transition;
            }
        }

        .form-flex {
            display: flex;

            :last-child {
                margin-left: 1.5em;
            }
        }
    }
}

// =============
// Media Queries
// =============

@media screen and (max-width: 600px) {
    // ==========
    // Navigation
    // ==========

    .navigation {
        width: 100%;
        top: auto;
        bottom: 0;
        left: 50%;
        flex-direction: row;
        justify-content: center;
        background-color: var(--clr-grey-5);
        transform: translateX(-50%);

        .nav-btn {
            width: 2.75rem;
            height: 2.75rem;
            margin: 1em 0.5em;

            i {
                font-size: 1rem;
            }
        }
    }

    .theme-btn {
        width: 3rem;
        height: 3rem;
    }

    .main-btn {
        text-align: center;
    }

    // ======
    // Header
    // ======

    .header-content {
        grid-template-columns: repeat(1, 1fr);
        // instead of padding-block, watch sass can't compile
        padding-top: 5em;
        padding-bottom: 5em;

        .header-left {
            .shape {
                display: none;
            }

            .image {
                margin: 0 auto;
                width: 85%;
            }
        }

        .header-right {
            width: 85%;
            grid-row: 1;
            padding-right: 0 !important;
            margin: 0 auto;

            .name {
                font-size: 1.75rem !important;
                text-align: center;
            }
        }
    }
}
