*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.square {
    background-color: #2d2d2d;
    box-shadow: 0 0 2px #000;
    height: 1em;
    width: 1em;
    border-radius: 0.125em;
    margin: 0.125em;
    transition: 200ms ease;
}

.square:hover {
    transition-duration: 0s;
}