*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-accent-secondary: #67ccac;
    --clr-light: #fafafa;
    --clr-dark: #232323;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.3s ease-in-out;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tabs */

.sliding__solutions {
    max-width: 1280px;
    margin: 5rem 2rem;
}

.sliding__solutions .sliding__solutions-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.sliding__solutions .sliding__solutions-tabs .tab-btn {
    background: none;
    cursor: pointer;
    border: none;
    transition: var(--transition);
}

.sliding__solutions .sliding__solutions-tabs .tab-btn.is-active {
    color: var(--clr-accent);
}

.sliding__solutions .sliding__solutions-tabs .tab-btn:hover {
    background: none;
    border: none;
    color: var(--clr-accent-secondary);
}

/* Layout */

.sliding__solutions .sliding__solutions-slides-container {
    margin: 30px 0;
}

.sliding__solutions
    .sliding__solutions-slides-container
    .sliding__solutions-slides {
    padding: 20px 0;
}

.sliding__solutions .sliding__solutions-slide {
    display: flex;
    gap: 50px;
}

.sliding__solutions .sliding__solutions-slide p:not(:last-child) {
    margin-bottom: 15px;
}

.sliding__solutions .sliding__solutions-slide .sliding__solutions-col--left,
.sliding__solutions .sliding__solutions-slide .sliding__solutions-col--right {
    flex: 1;
}

.sliding__solutions .sliding__solutions-slide .sliding__solutions-col--left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliding__solutions
    .sliding__solutions-slide
    .sliding__solutions-col--left
    img {
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.sliding__solutions
    .sliding__solutions-slide
    .sliding__solutions-col--left
    :is(img, video) {
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 100%;
}

.sliding__solutions .sliding__solutions-slide .sliding__solutions-col--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sliding__solutions
    .sliding__solutions-slide
    .sliding__solutions-col--right
    .slide-heading {
    margin-bottom: 1.4rem;
}

.sliding__solutions
    .sliding__solutions-slide
    .sliding__solutions-col--right
    .card-name {
    display: none;
    margin-bottom: 5px;
}

/* Buttons */
.sliding__solutions .btn-wrapper {
    margin-top: 30px;
}

.sliding__solutions .btn-wrapper a {
    background: var(--clr-accent);
    border: 2px solid var(--clr-accent);
    color: var(--clr-primary);
    padding: 10px 24px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    transition: 0.3s;
    font-size: 18px;
}

.sliding__solutions .btn-wrapper a:hover {
    background: transparent;
    border-color: var(--clr-accent);
    color: var(--clr-light);
}

/* Pagination */
.sliding__solutions .sliding__solutions-slides-container .splide__pagination {
    bottom: -0.5rem !important;
}

.sliding__solutions
    .sliding__solutions-slides-container
    .splide__pagination
    button.splide__pagination__page {
    transition: 0.3s;
}

.sliding__solutions
    .sliding__solutions-slides-container
    .splide__pagination
    button.splide__pagination__page.is-active {
    background-color: var(--clr-accent);
}

.sliding__solutions
    .sliding__solutions-slides-container
    .splide__pagination
    button.splide__pagination__page:hover {
    background: var(--clr-accent-secondary);
}

@media (max-width: 1340px) {
    .sliding__solutions {
        max-width: 1040px;
    }
}

@media (max-width: 1080px) {
    .sliding__solutions {
        max-width: 900px;
    }

    .sliding__solutions .sliding__solutions-tabs a {
        font-size: 16px;
    }
}

@media (max-width: 920px) {
    .sliding__solutions {
        max-width: min(100%, 600px);
        margin: 0;
        padding: 4rem 2rem;
    }

    .sliding__solutions .sliding__solutions-tabs {
        justify-content: center;
    }

    .sliding__solutions .sliding__solutions-slide {
        flex-direction: column;
        gap: 30px;
    }

    .sliding__solutions
        .sliding__solutions-slide
        .sliding__solutions-col--left {
        align-items: flex-end;
    }

    .sliding__solutions
        .sliding__solutions-slide
        .sliding__solutions-col--right {
        justify-content: flex-start;
    }

    .sliding__solutions
        .sliding__solutions-slide
        .sliding__solutions-col--right
        * {
        text-align: center !important;
        text-wrap: balance;
    }

    .sliding__solutions .btn-wrapper {
        margin-bottom: 10px;
    }

    .sliding__solutions
        .sliding__solutions-slide
        .sliding__solutions-col--right
        .card-name {
        display: block;
    }
}

@media (max-width: 500px) {
    .sliding__solutions .sliding__solutions-tabs {
        display: none;
    }

    .sliding__solutions .splide__list {
        align-items: flex-start;
    }
}
