*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #222322;
    display: grid;
    place-items: center;
}

.list {
    display: flex;
    gap: 6px;
}

.list .user {
    background-color: #fff;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

.list .img-box {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 6px;
}

.list .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list .details-name {
    font-weight: 600;
    line-height: 1.1;
}

.list .details-role {
    color: rgba(0, 0, 0, 0.6);
    font-size: .875rem;
    font-weight: 500;
}

/* Navigation dots */

.navigation {
    width: 40px;
    height: 70px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navigation.active {
    width: 200px;
}

.navigation span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #222322;
    position: absolute;
    background-color: #222322;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navigation span:nth-child(1) {
    transform: translateY(-12px);
}

.navigation span:nth-child(3) {
    transform: translateY(12px);
}

.navigation.active span {
    width: 50px;
    height: 50px;
    transition: .5s;
}

.navigation.active span:nth-child(1) {
    transform: translateY(0) translateX(-60px);
}

.navigation.active span:nth-child(3) {
    transform: translateY(0) translateX(60px);
}

.navigation span i {
    display: none;
    color: #fff;
    /* font-size: 0rem; */
    transition: .5s;
    /* transition-delay: .5s; */
}

.navigation.active span i {
    display: block;
    font-size: 1.5rem;
}

.navigation.active span:hover {
    background-color: #29fd53;
}

.navigation.active span:hover i {
    color: #222322;
}


