*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #1a1a1a;

    --clr-tag: #888;
    --clr-tag-name: #8cb331;
    --clr-tag-attr: #4c9c83;
    --clr-tag-attr-value: #ff6600;

    --padding: 0.75rem;
    --radius: 0.5rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;

    --shadow-light: 0 0 15px rgba(255, 255, 255, 0.3);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-primary);
    background-color: var(--clr-dark);
}

h1.title {
    font-size: 3rem;
    margin: 0.75em auto;
    color: var(--clr-accent);
    text-align: center;
}

.section {
    margin: 5rem auto;
    max-width: var(--max-width);
    padding: 5rem 2rem;
}

.section .code-box {
    width: min(30rem, 100%);
    height: 12.25rem;
    background-color: var(--clr-accent);
    padding: var(--padding);
    border-radius: var(--radius);
    /* box-shadow: var(--shadow-light); */
    margin-block-start: 5rem;
}

.section .code-box:first-child {
    margin-top: 0;
}

.section .code-box.box-left {
    margin-right: auto;
}

.section .code-box.box-right {
    margin-left: auto;
}

.section .code-box .code-wrapper {
    background: var(--clr-primary);
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.section .code-box .code-wrapper .html {
    color: var(--clr-tag);
    font-size: 1rem;
    font-family: monospace;
}

.section .code-box .code-wrapper .html .tag-title {
    color: var(--clr-tag-name);
}

.section .code-box .code-wrapper .html .tag-attribute {
    color: var(--clr-tag-attr);
}

.section .code-box .code-wrapper .html .attr-value {
    color: var(--clr-tag-attr-value);
}
