*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    -webkit-text-size-adjust: 100%;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #333;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in-out;
    --aspect-ratio: calc(9 / 16);

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

h1,
h2 {
    margin: 0;
}

.content-grid {
    --grid-opacity: 0;
    --grid-scale: 2;
    --grid-translate: 5vh;
    width: 100%;
}

.content-grid__scroll {
    min-height: 215vh;
    position: relative;
}

.content-grid__sticky {
    position: sticky;
    height: calc(100vh + 75px);
    top: 75px;
}

.content-grid__items {
    max-width: 1600px;
    width: 200vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 36vh);
    grid-gap: 0.5vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%) scale(var(--grid-scale));
    transform-origin: center top;
}

.content-grid-title {
    position: absolute;
    top: 0;
    line-height: calc(100vh - 6vw * var(--aspect-ratio));
    text-align: center;
    z-index: 100;
    width: 100%;
    color: var(--clr-light);
    font-size: calc(6vw * var(--aspect-ratio));
    opacity: calc(1 - var(--grid-opacity));
    letter-spacing: 0.15rem;
}

.grid__item:nth-child(1),
.grid__item:nth-child(9),
.grid__item:nth-child(10),
.grid__item:nth-child(18),
.grid__item:nth-child(19),
.grid__item:nth-child(27) {
    transform: translatey(calc(var(--grid-translate) * 8));
}

.grid__item:nth-child(2),
.grid__item:nth-child(8),
.grid__item:nth-child(11),
.grid__item:nth-child(17),
.grid__item:nth-child(20),
.grid__item:nth-child(26) {
    transform: translatey(calc(var(--grid-translate) * 6));
}

.grid__item:nth-child(3),
.grid__item:nth-child(7),
.grid__item:nth-child(12),
.grid__item:nth-child(16),
.grid__item:nth-child(21),
.grid__item:nth-child(25) {
    transform: translatey(calc(var(--grid-translate) * 4));
}

.grid__item:nth-child(4),
.grid__item:nth-child(6),
.grid__item:nth-child(13),
.grid__item:nth-child(15),
.grid__item:nth-child(22),
.grid__item:nth-child(24) {
    transform: translatey(calc(var(--grid-translate) * 2));
}

.grid__item:not(:nth-child(5)) {
    opacity: var(--grid-opacity);
}

.band-center-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    font-size: 1.3rem;
    background-color: var(--clr-primary);
}

.content-cards-page {
    display: flex;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--clr-light);
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
}

.content-cards__item {
    width: calc(100% / 4 - 3%);
    height: 50%;
    background-size: cover;
    background-position: center;
}

.content-cards__item:nth-child(1),
.content-cards__item:nth-child(2),
.content-cards__item:nth-child(3),
.content-cards__item:nth-child(4) {
    background-image: url(./1.jpg);
}
