*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #191d2b;
    --clr-accent: #40826d;
    --clr-light: #fafafa;
    --clr-dark: #1a1a1a;

    --clr-grey-0: #f8f8f8;
    --clr-grey-1: #dbe1e8;
    --clr-grey-2: #b2becd;
    --clr-grey-3: #6c7983;
    --clr-grey-4: #454e56;
    --clr-grey-5: #2a2e35;
    --clr-grey-6: #12181b;

    --padding: 2rem;
    --radius: 0.25rem;
    --max-width: 75rem;
    --transition: all 0.5s ease-in;

    --shadow-light: 0 0 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 0 15px rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.logo {
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 30px;
    color: var(--clr-primary);
}

.text {
    text-align: left;
    line-height: 6rem;
    z-index: -1;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.text h1 {
    letter-spacing: -5px;
}

.text h1:nth-child(1) {
    font-size: 8rem;
    color: rgba(87, 222, 222, 0.3);
    transform: translate(-20px, 20px);
}

.text h1:nth-child(2) {
    font-size: 8rem;
    color: rgba(87, 222, 222, 0.3);
}

.text h1:nth-child(3) {
    font-size: 10rem;
    color: rgba(246, 160, 160, 0.6);
    transform: translateY(-20px);
}

.menu-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btn div {
    background-color: var(--clr-light);
    width: 50%;
    height: 3px;
    margin: 3px 0;
}

.eks-two {
    opacity: 1;
    transition: 1s ease-in;
}

.eks-two-fade {
    opacity: 0;
}

.top-right-slide {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-accent);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    transition: var(--transition);
}

.top-right-slide-show {
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
}

.inner-container-top {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-top::after {
    content: "";
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--clr-accent);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: var(--transition);
}

.inner-container-top:hover::after {
    clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
}

.inner-container-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inner-container-middle::after {
    content: "";
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--clr-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: var(--transition);
}

.inner-container-middle:hover::after {
    clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
}

.inner-container-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--clr-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: var(--transition);
}

.inner-container-bottom:hover::after {
    clip-path: polygon(0 0, 75% 0, 25% 100%, 0 100%);
}

.inner-container-left-top {
    width: 100%;
    min-height: 20vh;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-left-top::after {
    content: "";
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--clr-accent);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: var(--transition);
}

.inner-container-left-top:hover::after {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%);
}

.inner-container-left-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 20vh;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container-left-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--clr-accent);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: var(--transition);
}

.inner-container-left-bottom:hover::after {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 75% 100%);
}

.middle-right-slide {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-primary);
    clip-path: polygon(100% 40%, 100% 40%, 100% 60%, 100% 60%);
    transition: var(--transition);
}

.middle-right-slide-show {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
}

.bottom-right-slide {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--clr-accent);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: var(--transition);
}

.bottom-right-slide-show {
    clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
}

.top-left-slide {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #57dede;
    clip-path: polygon(0 20%, 0% 20%, 0% 40%, 0 40%);
    transition: var(--transition);
}

.top-left-slide-show {
    clip-path: polygon(0 20%, 100% 20%, 100% 40%, 0 40%);
}

.bottom-left-slide {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #57dede;
    clip-path: polygon(0 60%, 0% 60%, 0% 80%, 0 80%);
    transition: 0.5s ease-in;
}

.bottom-left-slide-show {
    clip-path: polygon(0 60%, 100% 60%, 100% 80%, 0 80%);
}

.nav-links {
    text-decoration: none;
    color: var(--clr-light);
    font-size: 2.5rem;
    position: absolute;
    z-index: 4;
    transition: 0.3s ease-in;
    transform: translateY(10%);
    padding-bottom: 5px;
}

.nav-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 100%;
    width: 0;
    transition: 0.4s ease-in;
}

.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100%;
    width: 0;
    transition: 0.4s ease-in;
}

.nav-links:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 100%;
    width: 50%;
    border-bottom: 3px solid var(--clr-light);
}

.nav-links:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    transition: 0.4s ease-in;
    border-bottom: 3px solid var(--clr-light);
}

.nav-links:hover {
    letter-spacing: 5px;
    transform: translateY(0);
    color: var(--clr-accent);
}
