*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #006241;
    --clr-secondary: #d50032;
    --clr-light: #d4e9e2;
    --clr-text: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: var(--clr-text);
}

a {
    color: var(--clr-text);
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

section a {
    color: #fff;
}

/* Navigation */

/* Footer */

.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2em 2em;
}

.social {
    display: flex;
    align-items: center;
    margin: 1.25em 0;
}

.social img {
    width: 2em;
    height: 2em;
}

.social a {
    text-decoration: none;
    margin-right: 1.25em;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 2.5em auto;
}