*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #006241;
    --clr-secondary: #d50032;
    --clr-light: #d4e9e2;
    --clr-text: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: var(--clr-text);
}

a {
    color: var(--clr-text);
}

p {
    margin: .375em 0;
    line-height: 1.6;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section a {
    color: #fff;
}

/* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid var(--clr-text);
    border-radius: 3em;
    padding: .5em 1em;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline {
    color: var(--clr-text);
    border-color: var(--clr-text);
    transition: .3s;
}

.btn-light-outline {
    color: #fff;
    border-color: #fff;
    transition: .3s;
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-dark {
    color: #fff;
    background-color: var(--clr-text);
    transition: .3s;
}

.btn-dark:hover {
    background-color: #333;
}

/* Typography */

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.text-lg {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.text-sm {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

/* Paddings */

.padd-sm {
    padding: 0.625em 0;
}

.padd-md {
    padding: 1.25em 0;
}

.padd-lg {
    padding: 2.5em 0;
}

/* Navigation */

.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 1.25em;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
                0 2px 2px rgb(0 0 0 / 6%),
                0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 1em;
    font-weight: 600;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--clr-primary);
}

.navbar-brand img {
    width: 3.125rem;
    height: 3.125rem;
    margin-left: 1em;
}

.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 1.25em;
}

.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
}

.navbar-nav-right img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .625em;
}

.navbar-nav-right li:nth-child(2) {
    margin: 0 .5em;
}

/* Backgrounds */

.bg-primary {
    background-color: var(--clr-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--clr-secondary);
    color: #fff;
}

.bg-extra {
    background-color: var(--clr-light);
    color: var(--clr-text);
}

/* Boxes */

.box {
    margin-bottom: 2em;
}

/* for box a */
.box-inner {
    max-width: 700px;
    margin: 0 auto;
}

.box-text {
    max-width: 500px;
    text-align: center;
    justify-self: center;
    padding: 1.25em 0;
    margin: 0 auto;
}

.box-text .btn {
    margin-top: 1.25em;
}

.box-f .box-text {
    max-width: 600px;
}

/* Grid selectors */

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.grid-reversed:first-child {
    order: 2;
}

/* Footer & Social Icons */

.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 2.5em auto;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2em 2em;
}

.social {
    display: flex;
    align-items: center;
    margin: 1.25em 0;
}

.social img {
    width: 2em;
    height: 2em;
}

.social a {
    text-decoration: none;
    margin-right: 1.25em;
}

/* Menus  */

/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    /* display: none; */
    border: none;
    background: none;
    position: relative;
    z-index: 10;
    transition: all .25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #222;
    transition: all .5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

/* Mobile Menu  */

.mobile-menu img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .625em;
}